ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

li {
    width: 30%;
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

li button {
    margin-top: 15px;
    width: 100%;
    padding: 10px;
}

li:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
